In [2]:
import pandas as pd

df = pd.read_csv("topfit_rozdel_cviceni.csv")
df["date"] = pd.to_datetime(df["date"])
df["week"] = df["week"].astype(int)
df["year"] = df["date"].dt.year
df["year_week"] = df["year"].astype(str) + "-" + df["week"].astype(str).str.zfill(2)

print("DEBUG: ZRT rows in weeks 33–35")
display(df[(df["week"].between(33, 35)) & (df["summary_norm"] == "ZRT")])

print("DEBUG: summary_types")
summary_types = sorted(df["summary_norm"].unique())
print(summary_types)

print("DEBUG: weekly pivot")
energy_weekly = df.pivot_table(
    index="year_week",
    columns="summary_norm",
    values="energy_per_category",
    aggfunc="sum"
).reindex(sorted(df["year_week"].unique()), fill_value=0)

display(energy_weekly.loc[["2025-33", "2025-34", "2025-35"]])

DEBUG: ZRT rows in weeks 33–35

,date,summary,note,month,week,summary_norm,doba_per_category,energy_per_category,year,year_week
76,2025-08-28,ZRT,tenis. loket,8,35,ZRT,60.0,304.0,2025,2025-35
78,2025-08-18,ZRT,tenis. loket,8,34,ZRT,74.0,399.0,2025,2025-34
80,2025-08-11,ZRT,NaN,8,33,ZRT,60.0,400.0,2025,2025-33

DEBUG: summary_types
['BRICHO', 'NOHY', 'PB', 'ZRT']
DEBUG: weekly pivot

summary_norm  BRICHO  NOHY     PB    ZRT
year_week
2025-33          NaN   NaN  436.0  400.0
2025-34          NaN   NaN  396.0  399.0
2025-35          NaN   NaN    NaN  304.0